---
// src/layouts/LayoutMarkdown.astro
import Layout from "./Layout.astro";
export interface Props {
  title: string;
}

const props = Astro.props;
---

<Layout title={props.title}>
  <div class="mx-auto max-w-3xl">
    <h2>Markdown Template</h2>
    <p>Markdown content is below</p>
    <div class="mt-5 max-w-prose bg-slate-300">
      <slot />
    </div>
  </div>
</Layout>
